:root {
    --dark:rgb(73, 67, 67);
    --darkFont:rgba(0, 250, 221, 0.789);
    --fontSize:16px;
    --fontFam:helvetica;
    --buttonColor:rgba(133, 255, 19, 0.803);
    --hoverColor:rgb(155, 140, 238);
}

body {
    background-color: var(--dark);
    color: var(--darkFont);
    font-size: var(--fontSize);
    font-family: var(--fontFam);
}

.navbar {
    background-color: var(--dark);
}
.nav-link {
    color:var(--darkFont)
}

.theme-toggle {
    background-color: var(--dark);
    color:var(--darkFont);
    position: relative;
    left: 500px;
}

.theme-toggle:hover {
    background-color: white;
    color: black;
}

button {
    background-color: var(--dark);
    color: var(--buttonColor);
}

.card {
    background-color: var(--dark);
    border-radius: 1.5%;
    border-width: 3px;
    border-color: var(--buttonColor);
}

.card:hover {
    border-color: var(--darkFont);
    transition: transfrom .2s;
    width: auto;
    height: auto;
    border-width: 6px;
}

.btn {
    background-color: var(--hoverColor);
}

.btn:hover {
    background-color: var(--buttonColor);
}

.icon {
    display:inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 2px solid var(--buttonColor);
    transition-duration: .025s;
}

.icon:hover {
    outline-offset: 4px;
    color:var(--hoverColor);
    transform: scale(0.75);
}

#name, #email {
    width: 200px;
    display:inline-flex;
}

@media screen and (max-width: 992px) {
    .theme-toggle {
        display:flex;
        flex-wrap: wrap;
        left: 300px;
    }
  }
  