:root {
    --borderColor:red;
    --fontFam:helvetica, sans-serif;
    --fontSize:16px;
    --darkTheme:rgb(73, 67, 67);
    --darkThemeFont:rgba(0, 250, 221, 0.789);
}

body {
    border-color: var(--borderColor);
    font-family: var(--fontFam);
    font-size: var(--fontSize);
}

.theme-toggle {
    background-color: white;
    position: relative;
    left: 500px;
}

.theme-toggle:hover {
    background-color:var(--darkTheme);
    color: var(--darkThemeFont);
}

.theme-toggle:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .theme-toggle:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

#nav-link {
    color: black;
}

#nav-link:hover {
    color:var(--borderColor);
}

button {
    color:var(--borderColor);
    background-color: white;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

.icon {
    display:inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 55%;
    outline: 2px solid var(--borderColor);
    transition-duration: .025s;
}

.icon:hover {
    outline-offset: 4px;
    color:black;
    transform: scale(0.75);
}

.card {
    border-radius: 1.5%;
    border-width: 1.5px;
    border-color: var(--borderColor);
}

.card:hover {
    border-color: black;
    /* padding: 50px; */
    transition: transfrom .2s;
    width: auto;
    height: auto;
    border-width: 6px;
}

.btn {
    background-color: black;
    border-color: black;
}

.btn:hover {
    background-color: rgba(60, 60, 255, 0.825);
}

#name, #email {
    width: 200px;
    display:inline-flex;
}